.contenedor {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	background-color: #5b7989;
	color: white;
	width:100%;
	justify-content: center ;
    align-content: stretch;
	border-radius: 10px 10px 0px 0px;
	-moz-border-radius:10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	
}

.titulo{
	text-shadow: 2px 0  #02010a; 
	
} 
.menu  {
	margin: auto;
	text-align: right;

}
 .menu a {
	text-decoration: none;
}
@media (min-width: 600px) {
	.titulo, .menu {
		width: 50%;
		
	}
}
	    



